/**************************************************/
/* Homepage - Mobile First */
/* Header Section */
/**************************************************/
.header-container-image {
	margin-bottom: 2rem;
  }
  
  .header-home-page-h1 {
	color: #151515;
	font-family: 'Big Shoulders Display', sans-serif;
	font-size: 3.75rem;
	font-weight: 900;
	line-height: 3.438rem;
	margin-bottom: 2rem;
  }
  
  .header-wrapper-text {
	margin-left: 1rem;
	margin-right: 1rem;
  }
  
  .header-container-text p {
	color: #444;
	margin-bottom: 2rem;
  }
  
  .header-container-link a {
	text-decoration: none;
  }
  
  .header-container-link-inner-div {
	margin-bottom: 7.5rem;
  }
  
  .header-container-link p {
	background-color: black;
	color: white;
	text-transform: uppercase;
	font-family: 'Big Shoulders Display', sans-serif;
	font-size: 1.25rem;
	font-weight: 800;
	letter-spacing: 0.227rem;
	padding: 1.375rem 2rem 1.375rem 2.188rem;
  }
  
  /*** Hover Effect of "Our Location" link  ***/
  .header-container-link-inner-div:hover .icon-react {
	fill: #151515;
	transition: fill 0.3s ease;
  }
  
  .header-container-link-inner-div:hover p {
	background-color: rgba(213, 150, 108, 1);
	transition: background-color 0.3s ease;
  }
  /**************************************************/
  /* Homepage - Mobile First */
  /* Body Section */
  /**************************************************/
  .section-one-container-one {
	margin: 0;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 2rem;
  }
  
  .section-one-container-one h2 {
	color: #151515;
	margin-bottom: 1.313rem;
  }
  
  .section-one-container-one-span-h2-1 {
	display: block;
  }
  
  .section-one-container-one p {
	color: #444;
  }
  
  .section-one-container-two {
	margin: 0;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 1.563rem;
  }
  
  .section-two-wrapper {
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 7.5rem;
  }
  
  .section-two-container-two-container-text {
	background-color: #151515;
	padding-top: 3rem;
	padding-bottom: 2.938rem;
  }
  
  .section-two-container-two-container-text h2 {
	color: #fff;
	margin-bottom: 1.5rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
  }
  
  .section-two-container-two-container-text p {
	color: #fff;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
  }
  /**************************************************/
  /* Homepage - Mobile First */
  /* Footer Section */
  /**************************************************/
  .footer-wrapper {
	background-color: #151515;
	padding-top: 3rem;
	padding-bottom: 3rem;
  }
  
  /* Museum Logo */
  .footer-container-one-logo {
	width: 6.878rem;
	height: 2.5rem;
	margin-left: 2rem;
	margin-bottom: 2.375rem;
  }
  
  .footer-container-two-text p {
	color: #fff;
	line-height: 1.625rem;
	font-size: 1rem;
	margin-bottom: 2.375rem;
	margin-left: 2rem;
	margin-right: 2rem;
  }
  
  .footer-container-social-media {
	align-items: center;
	margin-left: 2rem;
  }
  
  .logo-facebook {
	background-color: white;
	border-radius: 5px;
	width: 26px;
	height: 26px;
	margin-right: 2.5rem;
  }
  
  .logo-facebook:hover {
	background-color: rgba(213, 150, 108, 1);
	transition: background-color 0.3s ease;
  }

  .logo-instagram {
	background-color: #151515;
	width: 40px;
	height: 40px;
	margin-right: 1.875rem;
  }
  
  .logo-instagram:hover {
	content: url('../assets/logo-instagram-color.svg');
	transition: 0.3s ease;
	border-radius: 10px;
  }

  .logo-twitter {
	background-color: #151515;
	padding: 4px;
  }
  
  .logo-twitter:hover {
	content: url('../assets/logo-twitter-color.svg');
	transition: 0.3s ease;
	border-radius: 10px;
  }
  /**************************************************/
  /* Homepage - Tablet Portrait View*/
  /* Header Section */
  /**************************************************/
  @media(min-width: 768px){
	header {
	  position: relative;
	}
  
	.header-container-image {
	  width: 56vw;
	  margin-bottom: 7.5rem;
	}
  
	.header-container-image img {
	  content: url('../assets/tablet/image-hero@2x.jpg');
	}
  
	.header-wrapper-text {
	  position: absolute;
	  top: 9.063rem;
	  left: 23rem;
	}
  
	.header-home-page-h1 {
	  font-size: 4.375rem;
	  line-height: 4.063rem;
	  margin-bottom: 3rem;
	}
  
	.header-container-text p {
	  margin-bottom: 2.5rem;
	  max-width: 21.188rem;
	}
  
	.header-container-link-inner-div {
	  margin-bottom: 0;
	}
  
  /**************************************************/
  /* Homepage - Tablet Portrait View*/
  /* Body Section */
  /**************************************************/
	.section-one-wrapper {
	  justify-content: space-between;
	}
  
  .section-one-container-one-span-h2-2 {
	  display: block;
	}
  
	.section-one-container-one {
	  margin: 0;
	  margin-top: 2.25rem;
	  margin-left: 2.438rem;  
	  margin-right: 4.25rem;
	  width: 36vw;
	  max-width: 13.938rem;
	}
  
	.section-one-container-two {
	  margin: 0;
	  margin-right: 2.5rem;
	  margin-bottom: 0.688rem;
	  width: 64vw;
	}
  
	.section-one-container-two img {
	  content: url('../assets/tablet/image-grid-1@2x.jpg');
	  max-width: 100%;
	  height: auto;
	}
  
	.section-two-wrapper {
	  margin: 0;
	  margin-bottom: 7.5rem;
	  justify-content: space-between;
	}
  
	.section-two-container-one {
	  margin: 0;
	  margin-left: 2.438rem;
	  margin-right: 0.688rem; 
	  width: 59vw;
	}
  
	.section-two-container-one img {
		content: url('../assets/tablet/image-grid-2@2x.jpg');
		max-width: 100%;
		height: auto;
	}
  
	.section-two-container-two {
	  margin-right: 2.5rem;
	  width: 41vw;
	}
  
	.section-two-container-two-container-image {
	  margin-bottom: 0.688rem;
	}
  
	.section-two-container-two-container-image img {
	  content: url('../assets/tablet/image-grid-3@2x.jpg');
	  max-width: 100%;
	  height: auto;
	}
   
	.section-two-container-two-container-text {
	  padding: 0;
	  padding-top: 5.5rem;
	  padding-bottom: 5.5rem;
	}
  
	.section-two-container-two-container-text h2,
	.section-two-container-two-container-text p {
	  margin-left: 1.813rem;
	  margin-right: 1.75rem;
	  max-width: 13.938rem;
	}
  
  /**************************************************/
  /* Homepage - Tablet Portrait View*/
  /* Footer Section */
  /**************************************************/
	.footer-wrapper {
	  align-items: start;
	  justify-content: space-between;
	  padding-top: 3.5rem;
	  padding-bottom: 3.5rem;
	}
  
	/* Museum Logo */
	.footer-container-one-logo {
	  width: 6.878rem;
	  height: 2.5rem;
	  margin-left: 2.438rem;
	  margin-bottom: 0;
	}
  
	.footer-container-two-text p {
	  margin: 0;
	  width: 17.563rem;
	}
  
	.footer-container-social-media {
	  margin-right: 2.5rem;
	}
  }
  
  /**************************************************/
  /* Homepage - Tablet Landscape View*/
  /* Header Section */
  /**************************************************/
  @media(min-width: 1024px){
	.header-wrapper-text {
	  margin-left: 6.25rem
	}
	
  /**************************************************/
  /* Homepage - Tablet Landscape View*/
  /* Body Section */
  /**************************************************/
	.section-two-container-two-container-text {
	  padding-top: 10.375rem;
	  padding-bottom: 10.375rem;
	}
  
	.footer-container-social-media a:nth-child(1){
	  margin-right: 0;
	}
  /**************************************************/
  /* Homepage - Tablet Landscape View*/
  /* Footer Section */
  /**************************************************/
	.footer-container-social-media a:nth-child(1){
	  margin-right: 0;
	}
  
	.footer-container-social-media a:nth-child(3){
	  margin: 0;
	}
  }
  
  /**************************************************/
  /* Homepage - Desktop */
  /* Header Section */
  /**************************************************/
  @media(min-width: 1439px){
	header {
	  margin-bottom: 11.25rem;
	}
  
	.header-container-image {
		width: 28.125vw;
		overflow: hidden;
	}

	.header-wrapper-image-divs {
	  display: flex;
	}
  
	.header-container-image img {
	  content: url('../assets/desktop/image-hero@2x.jpg');
	}

	.header-container-text {
	  display: flex;
	  justify-content: space-between;
	}
  
	.header-wrapper-text {
	  margin: 0;
	  top: 11.813rem;
	  left: 10.313rem;
	}
  
	.header-container-blank-dark {
	  background-color: #151515;
	  width: 28.125rem;
	}
  
	.header-container-image {
	  width: 33.75rem;
	  margin: 0;
	}
  
	.header-home-page-h1 {
	  font-size: 6rem;
	  line-height: 5.5rem;
	  margin-bottom: 0;
	}
  
	.header-span-word-modern,
	.header-span-one-color-letter {
	  color: #ffffff;
	}
  
	.header-span-two-color-letter {
	  color: #151515;
	}
	
	/* Styles for the 2-color "N" in the title */
	.header-span-two-color-letter {
	  background: linear-gradient(to right, #ffffff 0%, #ffffff 66.666%, #151515 66.666%, #151515 100%);
	  -webkit-background-clip: text;
	  background-clip: text;
	  color: transparent;
	}
  
	.header-container-text p {
	  font-size: 1.375rem;
	  line-height: 2rem;
	  margin-left: 19.5rem;
	  margin-bottom: 4rem;
	  max-width: 21.875rem;
	}
  
	.header-container-link {
	  display: flex;
	  justify-content: end;
	  margin-right: 5rem;
	}
  
  /**************************************************/
  /* Homepage - Desktop */
  /* Body Section */
  /**************************************************/
	.section-one-container-one {
	  margin: 0;
	  margin-top: 3.75rem;
	  margin-left: 10.313rem;  
	  margin-right: 7.813rem;
	  max-width: 21.875rem;
	}
  
	.section-one-container-one h2 {
	  font-size: 3.75rem;
	  line-height: 3.75rem;
	  margin-bottom: 2rem;
	}
  
	.section-one-container-one-span-h2-2 {
	  display: inline;
	}
  
	.section-one-container-one-span-h2-1 {
	  display: inline;
	}
  
	.section-one-container-one p {
	  font-size: 1.375rem;
	  line-height: 2rem;
	}
  
	.section-one-container-two {
	  margin: 0;
	  margin-right: 10.25rem;
	  margin-bottom: 1.875rem;
	}
  
	.section-one-container-two img {
	  content: url('../assets/desktop/image-grid-1@2x.jpg');
	}
  
	.section-two-wrapper {
	  margin-bottom: 11.25rem;
	}
  
	.section-two-container-one {
	  margin-left: 10.313rem;
	  margin-right: 1.875rem; 
	}
  
	.section-two-container-one img {
	  content: url('../assets/desktop/image-grid-2@2x.jpg');
	}
  
	.section-two-container-two {
	  margin-right: 10.25rem;
	}
  
	.section-two-container-two-container-image {
	  margin-bottom: 1.875rem;
	}
  
	.section-two-container-two-container-image img {
	  content: url('../assets/desktop/image-grid-3@2x.jpg');
	}
  
	.section-two-container-two-container-text {
	  padding-top: 4.438rem;
	  padding-bottom: 4.375rem;
	}
  
	.section-two-container-two-container-text h2,
	.section-two-container-two-container-text p {
	  margin-left: 3rem;
	  margin-right: 2.938rem;
	  max-width: 21.875rem;
	}
	
	.section-two-container-two-container-text h2 {
	  line-height: 3.75rem;
	  font-size: 3.75rem;
	}
  
	.section-two-container-two-container-text p {
	  line-height: 2rem;
	  font-size: 1.375rem;
	}
  
  /**************************************************/
  /* Homepage - Desktop */
  /* Footer Section */
  /**************************************************/
	.footer-wrapper {
	  padding-top: 5rem;
	  padding-bottom: 5rem;
	}
  
	/* Museum Logo */
	.footer-container-one-logo {
	  width: 9.97rem;
	  height: 3.625rem;
	  margin-left: 10.313rem;
	}
  
	.footer-container-two-text p {
	  font-size: 1.125rem;
	  width: 26.875rem;
	}
  
	.footer-container-social-media {
	  justify-self: end;
	  margin-right: 10.313rem;
	}
  }

  /* Check the homestyles css for any flex properties that should be in html
 resend to gh-pages
 complete readme file 
  */