/**************************************************/
/* Location Page - Mobile First*/
/* Header Section */
/**************************************************/
.header-location,
.header-location-container-map {
  margin: 0;
  position: relative;
}

.header-location-container-link-inner-div {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.header-location-container-link a {
  text-decoration: none;
}

.header-location-container-link p {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.227rem;
  padding: 1.375rem 2rem 1.375rem 2.188rem;
}

/*** Hover Effect of "Our Location" link  ***/
.header-location-container-link-inner-div:hover .icon-react {
  fill: #151515;
  transition: fill 0.3s ease;
}

.header-location-container-link-inner-div:hover p {
  background-color: rgba(213, 150, 108, 1);
  transition: background-color 0.3s ease;
}

/**************************************************/
/* Location Page - Mobile */
/* Body Section */
/**************************************************/
.section-location-wrapper {
  background-color: #151515;
}

.section-location-container-title {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-location-container-title h1 {
  color: #ffffff;
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 3.125rem;
  font-weight: 900;
  line-height: 2.813rem;
  margin: 0;
  text-transform: uppercase;
}

.section-location-container-address {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 3.5rem;
}

.section-location-container-address address {
  color: #ffffff;
  margin-bottom: .5rem;
}

.section-location-container-address address:first-child {
  margin-bottom: 1.25rem;
}

.section-location-container-address span {
  color: #D5966C;
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.813rem;
  text-transform: uppercase;
}

.section-location-container-address p {
  color: #ffffff;
  margin-top: 1.5rem;
}

/**************************************************/
/* Location Page - Mobile */
/* Footer Section */
/**************************************************/
.footer-location-page-wrapper {
  background-color: #D5966C;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Museum Logo */
.footer-location-page-container-one-logo {
  width: 6.878rem;
  height: 2.5rem;
  margin-left: 2rem;
  margin-bottom: 2.375rem;
}

.footer-location-page-container-two-text p {
  color: #151515;
  line-height: 1.625rem;
  font-size: 1rem;
  margin-bottom: 2.375rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.footer-location-page-container-social-media {
  align-items: center;
  margin-left: 2rem;
}

.footer-location-page-container-social-media a {
  margin-right: 1.875rem;
}

.logo-facebook-location-page {
  border-radius: 3px;
  background-color: #151515;
  width: 25px;
  height: 25px;
}

.logo-instagram-location-page {
  width: 40px;
  height: 40px;
}

/**************************************************/
/* Location page - Tablet Portrait View*/
/* Header Section */
/**************************************************/
@media(min-width: 768px){
  .header-location-container-map img {
    content: url('../assets/tablet/image-map@2x.png');
  }

  .header-location-container-link-inner-div {
    top: 0;
    left: 20px;
  }

/**************************************************/
/* Location page - Tablet Portrait View*/
/* Body Section */
/**************************************************/
  .section-location-wrapper {
    display: flex;
    flex-direction: row;
  }

  .section-location-container-title {
    margin-left: 2.438rem;
    margin-right: 0;
    padding-top: 5.5rem;
    padding-bottom: 0;
  }

  .section-location-container-title span {
    display: block;
  }

  .section-location-container-title h1 {
    font-size: 3.438rem;
    line-height: 3.125rem;
  }

  .section-location-container-address {
    font-size: 1.125rem;
    margin-left: 4.25rem;
    padding-top: 5.5rem;
    padding-bottom: 5rem;
    width: 24.875rem;
  }

/**************************************************/
/* Location page - Tablet Portrait View*/
/* Footer Section */
/**************************************************/
  .footer-location-page-wrapper {
    align-items: start;
    justify-content: space-between;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }  

.footer-location-page-container-one-logo {
    width: 6.878rem;
	  height: 2.5rem;
	  margin-left: 2.438rem;
	  margin-bottom: 0;
  }

  .footer-location-page-container-two-text p {
	  margin: 0;
	  width: 17.563rem;
	}
  
	.footer-location-page-container-social-media {
	  margin-right: 2.5rem;
	}
}
/**************************************************/
/* Homepage - Desktop */
/* Header Section */
/**************************************************/
  @media(min-width: 1439px){
  .header-location-container-map img {
    content: url('../assets/desktop/image-map@2x.png');
  }

  .header-location-container-link-inner-div {
    top: 0;
    left: 156px;
  }

/**************************************************/
/* Homepage - Desktop */
/* Body Section */
/**************************************************/
  .section-location-container-title {
    margin-left: 10.313rem;
    margin-right: 0;
    padding-top: 6.5rem;
    padding-bottom: 0;
  }

  .section-location-container-title h1 {
    font-size: 4.375rem;
    line-height: 4.375rem;
  }

  .section-location-container-address {
    font-size: 1.375rem;
    line-height: 2rem;
    margin-left: 13.75rem;
    padding-top: 6.5rem;
    padding-bottom: 8rem;
    width: 33.75rem;
  }

  .section-location-container-address span {
    font-size: 2.25rem;
    line-height: 2.25rem;
  }

  .section-location-container-address p {
    font-size: 1.375rem;
    line-height: 2rem;
  }

/**************************************************/
/* Homepage - Desktop */
/* Footer Section */
/**************************************************/





}


/* Next session, continue with the body of location page in desktop 
and add desktop fonts
*/