/**************************************************/
/* General Styles for Site
/**************************************************/
@charset "UTF-8";
/* CSS Document */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  /* Headings */
  /* font-family: 'Big Shoulders Display', sans-serif; */
  /* Body */
  /* font-family: 'Outfit', sans-serif; */
  min-height: 100%;
  margin: 0;  
}

.max-width-wrapper {
  min-height: 100%; 
  max-width: 1440px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
 } 

img {
  width: 100%;
}

.p-tag {
  font-family: 'Outfit', sans-serif;
  line-height: 1.75rem;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
}

.h2-tag {
  font-family: 'Big Shoulders Display', sans-serif;
  line-height: 2.813rem;
  font-weight: 900;
  font-size: 3.125rem;
  text-transform: uppercase;
}

/* Used for text in Header */
.slow-load {
  opacity: 0; /* Initially makes text invisible */
  transition: opacity 1s ease; /* Applies smooth transition effect */
}

/* Used for text in Body and Footer */
.slow-reveal {
  opacity: 0; /* Initially makes text invisible */
  transition: opacity 1s ease; /* Applies smooth transition effect */
}


