@charset "UTF-8";
/* CSS Document */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  /* Headings */
  /* font-family: 'Big Shoulders Display', sans-serif; */
  /* Body */
  /* font-family: 'Outfit', sans-serif; */
  min-height: 100%;
  margin: 0;  
}

.max-width-wrapper {
  min-height: 100%; 
  max-width: 1440px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
 } 

img {
  width: 100%;
}

p {
  font-family: 'Outfit', sans-serif;
  line-height: 1.75rem;
  font-weight: 300;
  font-size: 1.125rem;
}
/**************************************************/
/* Homepage - Mobile First */
/* Header Section */
/**************************************************/
.header-container-blank-dark,
.header-container-blank-light {
  display: none;
}

.header-container-image {
  margin-bottom: 2rem;
}

.header-home-page-h1 {
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 3.75rem;
  font-weight: 900;
  line-height: 3.438rem;
  margin-bottom: 2rem;
}

.header-container-text p {
  margin-bottom: 2rem;
}
.header-span-word-modern {
  display: block;
}

.header-container-link a {
  text-decoration: none;
}

.header-container-link-inner-div {
  display: flex;
  justify-content: start;
  flex-direction: row;
  margin-bottom: 7.5rem;
}

.header-container-link p {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.227rem;
  margin: 0;
  padding: 0;
  padding: 1.375rem 2rem 1.375rem 2.188rem;
}

/**************************************************/
/* Homepage - Mobile First */
/* Body Section */
/**************************************************/

/**************************************************/
/* Homepage - Mobile First */
/* Footer Section */
/**************************************************/

/* Import Google Fonts */
/* Ready to begin styling the homepage in mobil view */